body {
    margin: 0;
    background-color: #eeeeee;
}

header {
    background-color: #ff5252;
    color: white;
    text-align: center;
    padding: 10px 0;
}

h1 {
    margin: 0;
    font-size: 50px;
}

#parent {
    display: flex;
    justify-content: space-around;
    margin: 70px 50px;
}

.contents {
    flex-basis: 25%;
    border: 4px solid #e8cfcf;
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 40px;
    border-bottom: 4px dotted #f08080;
    padding-bottom: 10px;
}

h2::before {
    content: "●";
    color: #ea6b86;
}

.contents p:nth-of-type(2)::first-letter{
    font-weight:bold;
    color:rgb(97,206,249);

}
p {
    font-size: 25px;
}

img {
    width: 70%;
    margin-top: 20px;
}

footer {
    background-color: #ff5252;
    text-align: center;
}

footer a {
    color: white;
}

footer a:visited{
    color: rgb(193,234,251);
}

footer a:hover{
    color:rgb(245,178,168);
}

@media screen and (max-width:768px){
    h2{
        font-size:30px;
    }

    p{
        font-size:25px;
    }

    #parent{
        flex-direction:column;
    }

}
